/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #264D73
}
body {
    padding: 5rem;
    background-color: azure;
}