<div *ngIf="loading; else notloading  ">
  <h2>{{status}}</h2>
</div>
<ng-template #notloading>
  <ul>
    <h1>{{title}}</h1>
    <li *ngFor="let user of users |async">
      <span [class.selected]="user===selectedUser" (click)="onSelect(user)">{{user.name | titlecase}}</span>
    </li>
  </ul>
  <br>
  <!-- Task for you : break this code into a separate Component: -->
  <!-- <app-selecteduser [selectedUser]="selectUser"></app-selecteduser> -->
  <div *ngIf="selectedUser">
    <h3>{{selectedUser.id}} details</h3>
    <h4>Name : {{selectedUser.name | titlecase}}</h4>
    <h4>Date : {{selectedUser.date | date}}</h4>
    <h4>Points :{{selectedUser.points | decimalFraction}}</h4>
  </div>
</ng-template>
<div>
  <!-- <h1 #myheading>UserFOrm</h1> -->
  <!-- <button (click)="sendUser()" class="btn btn-success">Submit</button> -->
  <div class="container">
    <!-- <h3>{{myheading.innerHTML}}</h3> -->
    <h3>User Form</h3>
    <!-- Todo: remove this once form is over -->
    {{user | json}}
    <form #userForm="ngForm" (ngSubmit)="sendUser()">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="user.name" name="name" #errorMsg1="ngModel" type="text" class="form-control" id="name"
          required>
      </div>
      <!-- Validation Block -->
      <div [hidden]="errorMsg1.valid || errorMsg1.pristine" class="alert alert-danger">
        Name is required
      </div>
      <div class="form-group">
        <label for="points">points</label>
        <input [(ngModel)]="user.points" #errorMsg2="ngModel" name="points" type="number" class="form-control" id="points" required>
      </div>
      <div [hidden]="errorMsg2.valid || errorMsg2.pristine" class="alert alert-danger">
        Points is required
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>